@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><b>Library</b></p>
    <p>Autors <a href="Authors">CLICK</a>.</p>
    <p>Books <a href="Books">CLICK</a>.</p>
    <p>BooksGenres<a href="BookGenres">CLICK</a>.</p>
    <p>Genres<a href="Genres">CLICK</a>.</p>
</div>
